.transactionsBackground{
    background-color: #5CDB95;
}
.bar{
    width: 66%;
    height: 50px;
    background-color: #379683;
    border-radius: 25px;
    margin-top: 1%;
    margin-left: 17%;
}
.qr{
    margin-top: 1%;
    margin-left: 3%;
}
.id{
    margin-top: -6%;
    margin-left: 17%;
}
.machine{
    margin-top: -6%;
    margin-left: 30%;
}
.amount{
    margin-top: -6.1%;
    margin-left: 55%;
}
.details{
    margin-top: -6.2%;
    margin-left: 80%;
}
.Loader{
    margin-top: 15%;
}